doctype html
html
  head
    title Login
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .login-container {
        background: #fff;
        padding: 40px; /* Aumenta o padding para uma caixa maior */
        border-radius: 10px; /* Aumenta o border-radius para uma borda mais arredondada */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Aumenta o shadow para uma sombra mais perceptível */
        width: 100%;
        max-width: 600px; /* Aumenta a largura máxima da caixa */
        text-align: center;
      }
      .login-container h2 {
        margin-bottom: 30px; /* Aumenta o espaçamento abaixo do título */
        color: #333;
      }
      .login-container input {
        width: 100%;
        padding: 15px; /* Aumenta o padding dos inputs */
        margin: 15px 0; /* Aumenta o espaçamento entre os inputs */
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
      .login-container button {
        width: 100%;
        padding: 15px; /* Aumenta o padding do botão */
        background: #0779e4;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-sizing: border-box;
        font-size: 16px; /* Aumenta o tamanho da fonte */
      }
      .login-container button:hover {
        background: #005bb5;
      }
      .login-container .register-button {
        width: 100%;
        padding: 15px; /* Aumenta o padding do botão de registro */
        background: #ccc;
        color: #333;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-sizing: border-box;
        margin-top: 15px; /* Aumenta o espaçamento acima do botão de registro */
        font-size: 16px; /* Aumenta o tamanho da fonte */
      }
      .login-container .register-button:hover {
        background: #aaa;
      }
      .login-container a {
        margin-top: 15px; /* Aumenta o espaçamento acima do link */
        color: #0779e4;
        text-decoration: none;
      }
      .login-container a:hover {
        text-decoration: underline;
      }
  body
    .login-container
      h2 Login
      form(action="/login" method="POST")
        input(type="email" name="email" placeholder="Email" required)
        input(type="password" name="password" placeholder="Password" required)
        button(type="submit") Login
      a(href='/register')
        button.register-button Register