doctype html
html
  head
    title Lista de UCs
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
      }
      #main-header {
        background: #333;
        color: #fff;
        padding-top: 30px;
        min-height: 70px;
        border-bottom: #0779e4 3px solid;
        display: flex;
        align-items: center;
      }
      #main-header h1 {
        flex-grow: 1;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-size: 24px;
      }
      .nav-button-left {
        margin-right: auto;
        padding-left: 20px;
      }
      .nav-button-left2 {
        margin-right: 10px;
        padding-left: 20px;
      }
      .nav-button-left3 {
        margin-right: 10px;
        padding-left: 10%;
      }
      .nav-button-right {
        margin-left: auto;
        padding-right: 20px;
      }
      .nav-button-left a, .nav-button-left2 a, .nav-button-left3 a, .nav-button-right a {
        color: #fff;
        text-decoration: none;
        background: #0779e4;
        padding: 10px 20px;
        border-radius: 5px;
      }
      .nav-button-left a:hover, .nav-button-left2 a:hover, .nav-button-left3 a:hover, .nav-button-right a:hover {
        background: #005bb5;
      }
      ul {
        list-style: none;
        padding: 0;
      }
      li {
        background: #fff;
        margin: 10px 0;
        padding: 20px;
        border-left: #0779e4 5px solid;
      }
      li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-size: 18px;
      }
      li a:hover {
        color: #0779e4;
      }
      .hidden-form {
        display: none;
      }
      .visible-form {
        display: block;
      }
  body
    header#main-header
      .nav-button-left
        a(href='/users/profile') Perfil
      if role === 'Admin'
        .nav-button-left2 
          a(href='/users') Users
      h1 Lista de Unidades Curriculares
      .nav-button-right
        a(href='/') Sair
    div.container
      ul
        each uc in ucs
          li
            a(href=`/ucs/${uc.sigla}`) #{uc.titulo}
    if role === 'Admin' || role === 'Docente'
      .nav-button-left3#addUcButton
        a(href="#", onclick="document.getElementById('ucForm').classList.remove('hidden-form'); document.getElementById('addUcButton').classList.add('hidden-form');") Adicionar UC
      form#ucForm(action=`/ucs/`, method="POST", class="hidden-form")
        input(type="text" name="sigla" placeholder="Sigla")
        input(type="text" name="titulo" placeholder="Título")
        button(type="submit") Salvar UC
        a(href="#", onclick="document.getElementById('ucForm').classList.add('hidden-form'); document.getElementById('addUcButton').classList.remove('hidden-form');") Cancelar
